

<p id="notice"><%= notice %></p>

<h1>Transactions</h1>

<div class="container" style="font-size:12px;">
<table class="table" style="overflow:auto">
  <thead>
    <tr>
      <th>S name</th>
      <th>S email</th>
      <th>R name</th>
      <th>R email</th>
      <th>R phone</th>
      <th>Weight</th>
      <th>Mode</th>
      <th>Product</th>
      <th>qty</th>
      <th>Dest</th>
      <th>Pickup date</th>
      <th>Pickup time</th>
      <th>location</th>
      <th></th>
      <th></th>
      <th></th>


    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td> <%= link_to  "#{transaction.shiper_name}", "users/#{transaction.user.id}" %>  </td>
        <td><%= transaction.shipper_email %></td>
        <td><%= transaction.reciever_name %></td>
        <td><%= transaction.reciever_email %></td>
        <td><%= transaction.reciever_phone_number %></td>
        <td><%= transaction.weight %></td>
        <td><%= transaction.mode %></td>
        <td><%= transaction.product %></td>
        <td><%= transaction.quantity %></td>
        <td><%= transaction.reciever_country %></td>
        <td><%= transaction.pickup_date %></td>
        <td><%= transaction.pickup_time %></td>
        <td><%= transaction.expected_delivery_date %></td>
        <td><%= transaction.current_location %></td>
        <td><%= link_to 'Show', transaction %></td>
        <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
        <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Transaction', new_transaction_path, class: "button is-primary" %>
</div>

<br>


<style>

table#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif !important;
    border-collapse: collapse !important;
    width: 100% !important;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd !important;
    padding: 8px !important;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2 !important; }
  
  #customers tr:hover {background-color: #ddd !important; }
  
  #customers th {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    text-align: left !important;
    background-color: #4CAF50 !important;
    color: white !important;
  }

  </style>